#logo{
	width: 48px;
	height: 40px;
}

#banner{
 	width: 100%;
 	height: 100vh;
 	background: linear-gradient(to bottom, rgba(102,98,93,80%)0, rgba(17,17,16,46%) 100%), url(photo/3.jpg);	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*.headerWhitespace{
	margin-top:33px !important;
}*/

a#aboutBtn{
	border-radius: 30px;
	padding: 12px 32px;
	font-size: 16px;
	font-weight: 300;	
	border: 2px solid;
	transition: 0.5s;
	animation-delay: 0.8s;
	-webkit-animation-delay:0.8s;
	letter-spacing: 1px;
	cursor: pointer;
}

a#ticketBtn{
	border-radius: 10px;
	font-size: 15px;
	color: white;
	border:2px solid #28a745;
}

a#ticketBtn:hover{
	background-color: transparent;
	cursor: pointer;
	transition: 0.5s;
	border: 2px solid;
	animation-delay: 0.8s;
	-webkit-animation-delay:0.8s;
}

a.nav-link{
	color: rgba(202,206,221,0.8);
	font-size: 20px;
	cursor: pointer;
}

li.active,a.nav-link:hover{
	border-bottom: 1px solid rgba(202,206,221,0.8);
	/*transition: 0.5s;
	animation-delay: 0.8s;*/
}

#aboutheevent{
	width: 100%;
	height: 40%;

}

.container{

	position: relative;
	text-align: center;
}

.qut{
position: absolute;
left: 120px;
bottom: 8px;
}

.heading{
	position: absolute;
	left: 130px;
	bottom: 40px;
}

.hover{
	width: 92%;
	height: 20%;
	position: absolute;
	left: 15px;
	bottom: 0px;
	background: rgba(6,12,34,0.8)100%;
}

.scrolled{
	background-color: green;
}
